<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WADC</title>
  <!-- BOOTSTRAP STYLES-->
  <link href="/assets/css/bootstrap.css" rel="stylesheet" />
  <!-- FONTAWESOME STYLES-->
  <link href="/assets/css/font-awesome.css" rel="stylesheet" />
  <!-- CUSTOM STYLES-->
  <link href="/assets/css/custom.css" rel="stylesheet" />


</head>
<body>
<div class="container">
  <div class="row text-center ">
    <div class="col-md-12">
      <div class="text-center  hidden-xs" >
        <img src="/assets/images/logo.png" class="login-image img-responsive"/>
      </div>
      <br />
      <h2 class="login-text"> D.R.A.C.S.C </h2>

      <h5>( Device and System for the Recovery of Communication Equipment )</h5>
      <br />
      <br />
    </div>
  </div>
  <div class="row ">

    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>   Enter Details To Login </strong>
        </div>
        <div class="panel-body">

          <%= form_for(:usuario, url:sessions_path, :html => {:role => 'form'}) do |f| %>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                <%= f.text_field :name, class: "form-control", placeholder: "Your Username" %>
              </div>
              <p></p>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                  <%= f.text_field :password, class: "form-control", placeholder: "Your Password", type: :password %>
              </div>

              <p></p>
              <div class="form-group">
                <div class="actions"><%= f.submit "Login", class: "btn btn-primary" %></div>
              </div>
          <% end %>
        </div>

      </div>
    </div>


  </div>
</div>


<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/assets/js/bootstrap.min.js"></script>

</body>
</html>

