<% if logged_in? %>


  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-back">

        <div class="row">
          <div class="col-md-12">
            <!--    Striped Rows Table  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1><%= t('new_user')%></h1>
              </div>
              <div class="panel-body">

                <%= render 'form' %>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <hr/>
  </div>
  <!--  End  Striped -->
<% end %>
